<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
		<link rel="shortcut icon" href="../static/img/bitbug_favicon.ico" />
        <<link href="../static/css/style.css" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

        <title>群消息发送</title>
        <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){

             $('#sent').click(function(event){

                all_val = [];
                all_val.push("guorpmessage");
                all_val.push("start");
                ob = document.getElementsByName("radiobutton");
                jid = document.getElementById("jid").value;
                num = document.getElementById("numbers").value;
                group_id = document.getElementById("group_id").value;
                group_name = document.getElementById("group_name").value;

                for(r in ob){
                    if(ob[r].checked)
                    all_val.push(ob[r].value);
                }
                console.log("qwe");
                all_val.push(jid);
                all_val.push(num);
                all_val.push(group_id);
                all_val.push(group_name);

                console.log("qwt");
                alert(all_val);
                ws.send(all_val);
                $("#sent").hide();
                return false;
            });

            $('#reset1').click(function(event){
                stop = [];
                stop.push("guorpmessage");
                stop.push("stop");
                ws.send(stop)
                $("#sent").show();
                return false;
            });
            if ("WebSocket" in window) {
                ws = new WebSocket("ws://" + document.domain + ":5002/longLive/");
                ws.onmessage = function (msg) {
                    document.getElementById("p1").innerHTML=msg.data;
                    console.log(msg.data);
                };
                ws.onerror=function(msg){
                    console.log(msg);
                }
            } else {
                alert("WebSocket not supported");
            }
            window.onbeforeunload = function() {
                stops = [];
                stops.push("guorpmessage");
                stops.push("stop");
                ws.send(stops)
                ws.onclose = function () {
                    console.log('unlodad')
                };
                ws.close()
            };
        });
        </script>
    </head>
    <body>
	<div class="main">
		<div class="header" >
			<h1>群消息发送</h1>
		</div>
		<p>默认会在填入的群中发送文字消息、语音消息、改错消息、图片消息四种消息类型！ </p>
			<form>
				<ul class="left-form">
					<h2>发送消息:</h2>
					 <li>
						 <input type="text"  id="jid" placeholder="发消息的帐号JID" required/>
						 <a href="#" class="icon ticker"> </a>
						 <div class="clear"> </div>
					 </li>
					<li>
						<input type="text"  id="numbers"  placeholder="发送条数" required/>
						<a href="#" class="icon ticker"> </a>
						<div class="clear"> </div>
					</li>
					<li>
						<input type="text"  id="group_id" placeholder="群ID" required/>
						<a href="#" class="icon ticker"> </a>
						<div class="clear"> </div>
					</li>
					<li>
						<input type="text" id ="group_name"  placeholder="群名称" required/>
						<a href="#" class="icon ticker"> </a>
						<div class="clear"> </div>
					</li>
					<label class="checkbox">正式服务器：<input type="radio" value="formal" name="radiobutton" checked="" id="f"><i>
                        </i></label>
                        <label class="checkbox">测试服务器：<input type="radio" value="test" name="radiobutton" checked="true" id="t"><i> </i>
                        </label>
                        <div class="clear"> </div>
					<input type="submit" onClick="return false" id="sent" value="发送消息">
                    <input type="submit" onClick="return false" id="reset1" value="停止发送">
						<div class="clear"> </div>

				</ul>
				<ul class="right-form">
					<h3>发送进度:</h3>
					<div>
                    <h5 id = p1></h5>
					</div>
					<div class="clear"> </div>
				</ul>
				<div class="clear"> </div>
			</form>
		</div>

</body>
</html>