<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<link href="../static/css/sty.css" rel='stylesheet' type='text/css' />
		<link rel="shortcut icon" href="../static/img/bitbug_favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>测试工具</title><!--webfonts-->
		<!--//webfonts-->
</head>
<body>
	<div class="main">
		<div class="header" >
			<h1>测试工具</h1>
		</div>
		<p> </p>
				<ul class="left-form">
					<h2>公众帐号</h2>
                    <input type="submit" onclick="window.location.href='/meun'" value="设置菜单">
						<div class="clear"> </div><br>
					<input type="submit" onclick="window.location.href='/messages'" value="直接发消息">
						<div class="clear"> </div><br>

				</ul>
				<ul class="right-form">
					<h2>消息填充</h2>
					<input type="submit" onclick="window.location.href='/guorpmessage'" value="批量发群消息">
					    <div class="clear"> </div><br>
					<input type="submit" onclick="window.location.href='/SingleMessage'" value="批量发单人消息">
					    <div class="clear"> </div><br>
				</ul>
				<div class="clear"> </div>

		</div>



</body>
</html>